/* --------------------- BUTTONS --------------------- */

.unity-button#unity-search:hover {
	background-image: resource("toolbarsearch");
}

.unity-button#unity-search:active {
	background-image: resource("toolbarsearch");
}

.unity-button#unity-cancel:hover {
	background-image: resource("toolbarsearchCancelButton");
}

.unity-button#unity-cancel:active {
	background-image: resource("toolbarsearchCancelButton");
}